body {
    background: #FFFFFF;
    font-family: Helvetica;
}
.navbar {
    padding-top: 24px;
}

.menu {
    display: flex;
}

@media (max-width: 769px) {
    .menu {
        display: block;
        float: right;
        background-color: #FFFFFF;
        padding: 10px;
    }
}

.hero-section {
    width: 100%;
    background: #F1F3FF;
    position: relative;
}

.navbar-brand {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
    margin-right: 0;
}

.navbar-toggler-icon {
    background-color: #F1F3FF;
    border-radius: 5px;
    padding-top: 5px;
}

.navbar-toggler:focus{
    border: 0;
}

.nav-link {
    color:#000000;
    margin-right: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.btn-green {
    background-color: #5CB85F;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.p-1 {
   margin-left: 19%;
   margin-top: 26%;
}

.p-1 h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

.p-1 p {
    font-size: 14px;
    width: 87%;
    margin-top: 16px;
}

.p-1 button {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
}

@media (max-width: 769px) {
    .p-1 {
        margin-left: 5%;
        margin-top: 25%;
        margin-right: 5%;
    }
}

.img-car {
    margin-top: 15%;
    width: 100%;
}


/* Our Services */

.mtb {
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-services{
    width: 100%;
}

.service-caption {
    margin-top: 10%;
    padding-left: 20px;
}

.service ul{
    padding-left: 0;
}

.service ul li {
    list-style-type: none;
    margin-top: 20px;
    font-weight: 300;
}

.centang {
    margin-right: 20px;
}

@media (max-width: 769px) {
    .service ul li {
        font-size: 13px;
    }
}

.f-14 {
    font-size: 14px;
}

.f-24 {
    font-size: 24px;
    font-weight: bold;
}

/* why us */

.why-us h2 {
    font-weight: bold;
    margin-bottom: 16px;
}

.why-us p{
    margin-bottom: 40px;
}

.blok {
    border: 1px solid #E5E5E5;;
    border-radius: 10px;
    padding: 24px;
}

.blok h3 {
    font-size: 16px;
    font-weight: bold;
}

/* testimonial */
.testimonial{
    margin-top: 100px;
}

.judul-testi h1 {
    margin-bottom: 16px;
}

.judul-testi p {
    margin-bottom: 40px;
}

.item-carousel {
    border: 1px solid #D4D4D4;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #F1F3FF;
    padding: 50px;
}

.person {
   width: 100px;
   height: 100px;
   margin: 45px auto;
}

@media (max-width: 769px) {
    .person {
        margin: 20px auto;
    }
}

.mt-40 {
    margin-top: 40px;
}

.b-400 {
    font-weight: 400;
}

.gambar-bintang {
    width: 80px;
    height: 40px;
}

.tombol-testi {
    display: flex;
    padding-left: 46.5%;
    margin-top: 30px;
}

.mr-20 {
    margin-right: 24px;
}

.owl-prev,
.owl-next {
    background-color: green !important;
    color: #FFFFFF !important;
    width: 25px;
    border-radius: 50% !important;
}

@media (max-width: 769px) {
    .gambar-bintang {
        margin: 0 auto;
    }
}


/* banner */

.banner {
    margin-top: 50px;
    background-color: #0D28A6;
    padding: 64px 80px;
    border-radius: 10px;
    color: #FFFFFF;
}

.banner-isi1 {
    font-size: 36px;
}

.banner-isi2 {
    margin: 20px;
    padding: 0 10%;
}

.tombol-banner {
    background-color: #5CB85F;
    border: 0;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14;
    font-weight: bold;
}

@media (max-width: 769px) {
    .banner-isi2 {
        margin: 15px;
        padding: 0 1%;
    }
}

/* FAQ */
.faq-isi {
    margin-top: 100px;
}

.faq-isi h1{
    font-weight: bold;
    margin-bottom: 16px;
}

@media (max-width: 769px) {
    .faq-caption {
        text-align: center;
    }
}
.item {
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* footer */
.footer {
    padding-left: 0;
    margin-top: 100px;
}

.navigasi {
    padding-left: 10px;
}

.list-sosmed ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.list-sosmed ul li {
    margin-right: 16px;
}

.kotak-footer {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}
